.btn,
.jumbotron,
.nav :hover {
  border-radius: 0px;
}

body {
  background: #343a40;
}

footer{
  position:relative;
  bottom: 0px;
  right: 0px;
  left: 0px;
}

.blocks:hover {
  box-shadow: 0 12px 16px 0 rgba(243, 15, 15, 0.518),
    0 17px 50px 0 rgba(255, 65, 65, 0.59);
  transform: scale(1.05);
}
.blocks {
  position: relative;
  display: inline-block;
  padding: 0px;
  margin: 20px;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
}
